<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shop.mapper.MemberMapper">

    <insert id="signup" parameterType="com.example.shop.member.dto.Member">
        INSERT INTO customer
        (id, pw, name, phone, address, email, gender, sns, birth, addressdetail, postcode)
        VALUES (#{id}, #{pw}, #{name}, #{phone}, #{address}, #{email}, #{gender}, #{sns}, #{birth},
                #{addressdetail}, #{postcode})
    </insert>

    <select id="login" resultType="com.example.shop.member.dto.Member">
        SELECT id,
               pw,
               name,
               phone,
               address,
               email,
               gender,
               sns,
               birth,
               addressdetail,
               postcode
        FROM CUSTOMER
        WHERE id = #{id}
          AND pw = #{pw}
          AND ismem = 'Y'
    </select>

</mapper>